$color-white: #fff;
$color-black: #000000;
$color-blue: #6590ff;
$color-red: #e33e38;
$color-purple: #8344db;
$badge-background: #8344db1a;
$gray-text: #646464;
$body-background: #eef2f7;
$input-background: #f8f9fb;
